
.activity-item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.activity-item__icon{
    width: 20px;
    height: 20px;

    &.reaction{
        background: url('../img/icon/like.svg') no-repeat;
    }
    &.reaction.dislike{
        transform: rotate(180deg);
    }

    &.reaction.active{
        background: url('../img/icon/like-active.svg') no-repeat;
    }

    @media (min-width: 720px) {
        width: 26px;
        height: 26px;

    }
}

.activity-item__count{
    color: #cccccc;
    font-size: 14px;
}


