.article{
    width: 100%;
}

.article__title{
    color: #fff;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 400;
}

.article__img{
    width: 100%;
    margin-bottom: 40px;
}


.article__text{
    color: #ccc;
}
