.breadcrumbs{
    margin-bottom: 30px;
    &--white *{
        color: #ccc;
    }
}

.breadcrumbs__link{
    font-size: 12px;
    font-weight: 400;
    transition: 0.2s linear;
    &:last-child{
        font-weight: 600;
        color: #fff;
    }

    &:hover{
        color: #fff;
    }
}
