.breadcrumbs{
    margin-bottom: 30px;
    &--white .breadcrumbs__link{
        color: #ccc;
    }
    &--white  .breadcrumbs__link:last-child{
        color: #fff;
    }
    &--white .breadcrumbs__slash{
        color: #ccc;
    }

    &--white  .breadcrumbs__link:hover{
        color: #fff;
    }



        //&:hover{
        //    color: #fff;
        //}
        //&:last-child{
        //    font-weight: 600;
        //    color: #fff;
        //}

}



.breadcrumbs__link{
    font-size: 12px;
    font-weight: 400;
    transition: 0.2s linear;
    color: #666;
    &:last-child{
        font-weight: 600;
        color: #000;
    }

    &:hover{
        color: #000;
    }

}
