.header{
    position: fixed;
    justify-content: center;
    width: 100%;

    background: #000;
    z-index: 20;
    padding: 10px 15px;
    display: flex;

    @media(min-width: 1040px){
        position: relative;
        justify-content: space-between;
    }
}

.header__btn{
    font-size: 14px;
    padding: 10px 15px;
}
