@keyframes hobbyItemImageTo {
    from{
        left: -2000px;
        top: -1000px;
    }
    80%{
        left: 100px;
        top: 50px;
    }
    to{
        left: 0;
        top: 0;
    }
}

@keyframes hobbyItemImageRemove {
    from{
        left: 0;
        top: 0;
    }
    20%{
        left: 100px;
        top: 50px;
    }
    to{
        left: -2000px;
        top: -1000px;
    }
}

@keyframes hobbyItemDescTo {
    from{
        right: -2000px;
        top: -1000px;
    }
    80%{
        right: 150px;
        top: 100px;
    }
    to{
        right: 15px;
        top: 50px;
    }
}

@keyframes hobbyItemDescRemove {
    from{
        right: 15px;
        top: 50px;
    }
    20%{
        right: 100px;
        top: 50px;
    }
    to{
        right: -2000px;
        top: -1000px;
    }
}

@keyframes hobbyItemBgTo {
    from{
       bottom: -1000px;
    }
    80%{
        bottom: 30px;
    }
    to{
        bottom: 0;
    }
}

@keyframes hobbyItemBgRemove {
    from{
        bottom: 0;
    }
    20%{
        bottom: 50px;
    }
    to{ bottom: -1000px;

    }
}

@keyframes showNav{

    from{
        bottom: -110%;
    }
    to{
        bottom: 0;
    }
}

@keyframes flareDotShadow {
    from{
        box-shadow: 0 0 2px 4px rgba(235, 240, 255, 1);
    }
    50%{
        box-shadow: 0 0 5px 7px rgba(235, 240, 255, 1);
    }
    to{
        box-shadow: 0 0 2px 4px rgba(235, 240, 255, 1);
    }
}

@keyframes smellFlareDotShadow{
    from{
        box-shadow: 0 0 1px 2px rgba(235, 240, 255, 1);
    }
    50%{
        box-shadow: 0 0 3px 4px rgba(235, 240, 255, 1);
    }
    to{
        box-shadow: 0 0 1px 2px rgba(235, 240, 255, 1);
    }
}

.hobby-item{
    display: none;
    height: 100%;
    width: 100%;
    @media (min-width: 1040px) {
        display: block;
    }
}

.hobby-item.show{
    display: block;

    @media (min-width: 1040px) {
        .hobby-item__image{
            left: 0;
            bottom: 0;
        }
        .hobby-item__desc{
            right: 15px;
            top: 50px;
        }
        .hobby-item__bg{
            bottom: 0;
        }
        .hobby-item__image{
            animation: hobbyItemImageTo 1s ease-in-out forwards;
        }
        .hobby-item__desc{
            animation: hobbyItemDescTo 1s ease-in-out forwards;
        }
        .hobby-item__bg{
            animation: hobbyItemBgTo 1s ease-in-out forwards;
        }
    }
}

.hobby-item.hide{

    @media (min-width: 1040px) {
        display: none;
    }
}

.hobby-item.move-up{
    display: block;

    @media (min-width: 1040px) {
        .hobby-item__image{
            animation: hobbyItemImageTo 1s ease-in-out forwards;
        }
        .hobby-item__desc{
            animation: hobbyItemDescTo 1s ease-in-out forwards;
        }
        .hobby-item__bg{
            animation: hobbyItemBgTo 1s ease-in-out forwards;
        }
    }
}

.hobby-item.move-down{
    display: block;
    @media (min-width: 1040px) {
        .hobby-item__image {
            animation: hobbyItemImageRemove 1s ease-in-out forwards;
        }
        .hobby-item__desc {
            animation: hobbyItemDescRemove 1s ease-in-out forwards;
        }
        .hobby-item__bg {
            animation: hobbyItemBgRemove 1s ease-in-out forwards;
        }
    }
}

.hobby-item__inner{
    z-index: 10;
    @media (min-width: 1040px) {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }
}

.hobby-item__image{
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
    object-position: left;
    transition: 1s ease-in-out;
    z-index: 1;
    @media (min-width: 1040px) {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
    }
}

.hobby-item__desc{
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    transition: 1s ease-in-out;
    z-index: 20;

    @media (min-width: 1040px) {
        position: absolute;
        width: 60%;
        padding: 20px;
        top: 50px;
        //transform: translateY(-50%);
        right: 15px;
    }
}

.hobby-item__title{
    color: #fff;
    font-size: 20px;

    @media (min-width: 1040px) {
        font-size: 24px;
    }
}

.hobby-item__text{
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    @media (min-width: 1040px) {
        margin-top: 30px;
        font-size: 16px;
    }
}

.hobby-item__gallery{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px 10px;

    @media (min-width: 720px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

.hobby-item__photo{
    cursor: pointer;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.hobby-item__bg{
    width: 100%;
    @media (min-width: 1040px) {
        position: absolute;
        transition: 1s ease-in-out;
    }
}

.hobby-nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    &.open{
        z-index: 100;
        .hobby-nav__list{
            transform: translateX(0);
        }
    }

    @media (min-width: 1040px) {
        position: static;
        z-index: 100;

        width: 100%;
        max-width: 100%;
        animation: showNav 1s ease-in-out forwards;
        gap: 30px;
        display: flex;
    }
}

.hobby-nav__substrate{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @media (min-width: 1040px) {
        display: none;
    }
}

.hobby-nav__list{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-110%);
    background: #000;
    max-width: 380px;
    width: 100%;
    display: flex;
    padding: 60px 10px 30px;
    flex-direction: column;
    gap: 10px;
    box-shadow: 10px 0 15px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    z-index: 2;
    @media (min-width: 1040px) {
        transform: translateX(0);
        position: static;
        justify-content: center;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3);
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        padding: 15px;
        gap: 30px;
    }
}

.hobby-nav__close{
    position: absolute;
    top: 15px;
    right: 10px;
    display: block;
    margin-left: auto;
    width: 25px;
    height: 25px;
    background-image: url('../img/icon/close-white.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    @media (min-width: 1040px) {
        display: none;
    }
}


.hobby-nav-item{
    cursor: pointer;
    //width: 80px;
    //height: 80px;
    padding: 7px 10px;
    background: rgba(255, 255, 255, .3);
    &.active{
        animation: smellFlareDotShadow 2s ease-in-out infinite;
    }
    @media (min-width: 1040px) {
        width: 120px;
        height: 120px;
        background: #ebf0ff;
        &.active{
            animation: flareDotShadow 2s ease-in-out infinite;
        }
    }
}

.hobby-nav-item__img{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background: #fff;
    @media (min-width: 1040px) {
        display:block;
        //width: 120px;
        //height: 120px;
    }
}

.hobby-nav-item__title{
    display:block;
    //padding: 5px 0;
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    @media (min-width: 1040px) {
        display: none;
    }
}


.hobby-btn{
    position: fixed;
    display: block;
    border: 1px solid #ffffff;
    background: #000;
    //box-shadow: 0 3px 10px 5px rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 30px;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: 1040px) {
        display: none;
    }
}

