.modal{
    padding: 15px;
    position: fixed;
    overflow-y: auto;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    &.open{
        display: block;
    }

    @media (min-width: 1040px) {
        padding: 50px;
    }
}

.modal__bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}

.modal__inner{
    background: #000000;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 10px 30px;
    width: 100%;
    position: relative;
    @media (min-width: 1040px) {
        padding: 50px;
    }
}

.modal__close{
    position: absolute;
    top: 10px;
    right: 10px;
    @media (min-width: 1040px) {
        top: 20px;
        right: 50px;
    }
}



