.nav{
    display: flex;
    gap: 10px;
}

.nav-item{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    padding: 10px 10px;
    //bottom: 0;
    color: #d0d0d0;
    &:hover{
        //transform: translateY(-5px);
        color: #ffffff;
    }
}


