.nav{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.nav-item{
    position: relative;
    font-weight: 600;
    font-size: 18px;
    transition: 0.2s ease-in-out;
    padding: 10px 10px;
    //bottom: 0;
    &:hover{
        transform: translateY(-5px);
        color: #a7b4d9;
    }
}
