.post{
}

.post__img{
    width: 100%;
}

.post__media{
    margin-bottom: 40px;
}

.post__text{
    color: #ccc;
    font-size: 18px;
}

.post__bottom{
    margin-top: 20px;
    border-top: 1px solid #ccc;
}
