.resume-item{

}

.resume-item__top{
    margin-bottom: 10px;
}

.resume-item__title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-item__period{
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
}
.resume-item__option{
    font-size: 18px;
    margin-top: 15px;
}

.resume-item-desc{
    font-size: 16px;
    margin-top: 30px;
}

.resume-item-desc__title{
    margin-bottom: 10px;
    font-size: 18px;
}

