.resume{
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media(min-width: 1040px){
        gap: 80px;
    }
}

.resume__row{
    display: flex;
    width: 100%;
    gap: 24px;
}

.resume__top{

    @media(min-width: 420px){
        display: flex;
    }
}

.resume__body{
    display: flex;
    flex-direction: column;
    @media(min-width: 1040px){
        display: flex;
        flex-direction: row;
    }
}

.resume__main{
    display: flex;
    flex-direction: column;
    background: #fff;
    flex-grow: 1;
    padding: 15px;
    gap: 24px;
    @media(min-width: 1040px){
        padding: 25px 15px;
    }
}

.resume__data{
    display: flex;
    flex-direction: column;

    background: #000000;
    flex-shrink: 0;
    padding: 15px;
    gap: 30px;

    *{
        color: #fff;
    }

    .resume-block__title{
        border-color: #fff;
    }

    @media(min-width: 1040px){
        width: 480px;
        padding: 25px 15px;
        gap: 50px;

    }
}

.resume-block{

}

.resume-block__title{
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    margin-bottom: 30px;
    @media(min-width: 1040px){
        font-size: 24px;
    }
}

.resume-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume-list-item{
    display: flex;
    gap: 24px;
}

.resume-list-item__label{
    //width: 180px;
    font-size: 14px;
    @media(min-width: 1040px){
        font-size: 16px;
    }
}

.resume-list-item__value{
    font-size: 14px;
}

.resume-block__content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

