.list{
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}


//.list-head{
//    background: #f8f3c0;
//    padding: 10px;
//}

.list-item{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 15px;
    border-top: 1px solid #dfdfdf;
    cursor: grab;
    &:first-child{
        border-top: none;
    }
}

.list__empty{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.list-item__title{
    flex-grow: 1;
    padding: 10px 0;
}

.list-item__btn{
    position: relative;
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover{
        background: #f8f3c0;
    }

    &.without-action{
        pointer-events: none;

    }
}
.list-item__slash{
    position: absolute;
    background: #444444;
    display: block;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    left: 0;
    top: 46%;

}
.list-item__icon{
    width: 100%;
    height: 100%;
}

.list__pagination{
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
}
