.nav{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-item{
    transition: 0.2s ease-in-out;
    &:hover{
        transform: translateX(10px);
    }
}
.nav-item__link{
    display: block;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
}
