.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background: #f8f3c0;
    padding: 20px 10px;
    z-index: 101;
    transform: translateX(-100%);
    @media (min-width: 1040px) {
        z-index: 0;
        transform: translateX(0);

    }
}

.sidebar__top{
    margin-bottom: 50px;
}



