.btn{
    padding: 10px 30px;
    background: #ccc;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    &:hover{
        background: #fff;
    }
}
