.page-title{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;

    @media(min-width: 1040px){
        font-size: 36px;
        margin-bottom: 30px;
    }
}

.page-title--white{
    color: #fff;
}
