.main-frame{
    position: relative;
    display: flex;
}



.main-frame__content{
    //border: 1px solid #000;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //overflow: auto;
}
