.my-contacts{

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    @media (min-width: 1040px) {
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        gap: 40px;
    }
}

.my-contacts__photo{
    width:150px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.my-contacts__body{

}

.my-contacts__name{
    font-size: 24px;
    color: #cccccc;
    margin-bottom: 30px;
}

.my-contacts__list{
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

.my-contact{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #cccccc;
    max-width: 290px;
    width: 100%;
}

.my-contact__title{
    color: #cccccc;
}

.my-contact__content{
    transition: 0.2s linear;
    color: #cccccc;
    &:hover{
        color: #ffffff;
    }
}

.my-contacts__btn{
    margin-top: 30px;
}
