.signature{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    //text-align: right;
    @media (min-width: 1040px) {
        width: 35%;
    }
    @media (min-width: 1440px) {
        width: 50%;
    }
}

.signature__inner{
    text-align: center;
}


.signature__name{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
    color: #ccc;

    @media (min-width: 1040px) {
        //text-align: left;
        margin-bottom: 10px;
        font-size: 30px;
    }
}

.signature__profession{
    font-size: 14px;
    color: #ccc;
    text-align: center;
    @media (min-width: 1040px) {
        font-size: 16px;
    }
}

.signature__btn{
    //display: none;
    margin-top: 20px;
    @media (min-width: 1040px) {
        margin-top: 50px;
    }
}
